/* .navbar-brand .navbar-item {
  background: url(../images/logo.png) no-repeat center center;
  background-size: cover;
  width: 152px
} */

/* .img-responsive {
  height: auto;
  width: auto;
  max-height: 220px;
  max-width: 220px;
} */
.navbar-item.navbar-item-center-box {
  flex-direction: column;
 }

 /* span.increase-margin {
   margin: 5px;
 } */

 .tabs {
   margin-bottom: 0px !important;
 }

 .container {
   max-width: 1024px;
 }